AWS_REGION=me-south-1
BACKEND_HOST=<backend-ec2-public-ip>
FRONTEND_HOST=<frontend-ec2-public-ip>
API_DOMAIN=api.your-domain.com
FRONTEND_DOMAIN=frontend.your-domain.com
S3_BUCKET=<your-s3-bucket-name>
GEMINI_TEXT_MODEL: gemini-2.5-flash-lite
GEMINI_IMAGE_MODEL: gemini-2.5-flash-image
GEMINI_MULTIMODAL_MODEL: gemini-2.5-flash
MONGO_ROOT_USERNAME=root
MONGO_DB=coe558
MONGO_COLLECTION=genai_results